.header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 45px 80.1px;
        background: #F2F2F2;
        max-width: 1440px;
        width: 100%;

        .header__list {
            display: flex;
            list-style: none;
            text-decoration: none;

            .header__link-a {
                text-decoration: none;
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 125%;
                letter-spacing: 0.923077px;
                text-transform: uppercase;
                color: #83888F;

                &:hover {
                    opacity: 0.8;
                }

                &:active {
                    opacity: 0.6;
                }
            }
        }

    }
}